[Desktop Entry]
Type=Application
Exec=kronometer
Icon=kronometer
Terminal=false
Name=Kronometer
Name[bs]=Kronometer
Name[cs]=Kronometer
Name[de]=Kronometer
Name[es]=Kronometer
Name[hu]=Kronometer
Name[nl]=Kronometer
Name[pt]=Kronometer
Name[pt_BR]=Kronometer
Name[sk]=Kronometer
Name[sv]=Kronometer
Name[uk]=Kronometer
Name[x-test]=xxKronometerxx
GenericName=Chronometer
GenericName[bs]=Mjerač vremena
GenericName[de]=Zeitmesser
GenericName[es]=Cronómetro
GenericName[hu]=Kronométer
GenericName[nl]=Chronometer
GenericName[pt]=Cronómetro
GenericName[pt_BR]=Cronômetro
GenericName[sk]=Chronometer
GenericName[sv]=Kronometer
GenericName[uk]=Хронометр
GenericName[x-test]=xxChronometerxx
Comment=A simple chronometer application for KDE
Comment[bs]=Prosta aplikacija hronometra za JDE
Comment[de]=Eine einfache Anwendung für die Zeitmessung für KDE
Comment[es]=Una sencilla aplicación de cronómetro para KDE
Comment[hu]=Egy egyszerű kronométer alkalmazás a KDE-hez
Comment[nl]=Een eenvoudige chronometer-toepassing voor KDE
Comment[pt]=Uma aplicação simples de cronómetro para o KDE
Comment[pt_BR]=Um cronômetro simples para o KDE
Comment[sk]=Jednoduchá aplikácia chronometra pre KDE
Comment[sv]=Ett enkelt kronometerprogram för KDE
Comment[uk]=Проста програма-хронометр для KDE
Comment[x-test]=xxA simple chronometer application for KDExx
Categories=Qt;KDE;Utility;
