[Desktop Entry]
Type=Application
Exec=kronometer
Icon=kronometer
Terminal=false
Name=Kronometer
Name[nl]=Kronometer
Name[pt]=Kronometer
Name[sv]=Kronometer
Name[uk]=Kronometer
Name[x-test]=xxKronometerxx
GenericName=Chronometer
GenericName[nl]=Chronometer
GenericName[pt]=Cronómetro
GenericName[sv]=Kronometer
GenericName[uk]=Хронометр
GenericName[x-test]=xxChronometerxx
Comment=A simple chronometer application for KDE
Comment[nl]=Een eenvoudige chronometer-toepassing voor KDE
Comment[pt]=Uma aplicação simples de cronómetro para o KDE
Comment[sv]=Ett enkelt kronometerprogram för KDE
Comment[uk]=Проста програма-хронометр для KDE
Comment[x-test]=xxA simple chronometer application for KDExx
Categories=Qt;KDE;Utility;
