[Desktop Entry]
Type=Application
Exec=kronometer
Icon=kronometer
Terminal=false
Name=Kronometer
Name[ast]=Kronometer
Name[bs]=Kronometer
Name[ca]=Kronometer
Name[ca@valencia]=Kronometer
Name[cs]=Kronometer
Name[da]=Kronometer
Name[de]=Kronometer
Name[el]=Kronometer
Name[en_GB]=Kronometer
Name[es]=Kronometer
Name[et]=Kronometer
Name[fi]=Kronometer
Name[fr]=Kronometer
Name[gl]=Kronometer
Name[hu]=Kronometer
Name[it]=Kronometer
Name[ko]=Kronometer
Name[nds]=Kronometer
Name[nl]=Kronometer
Name[nn]=Kronometer
Name[pl]=Kronometer
Name[pt]=Kronometer
Name[pt_BR]=Kronometer
Name[ru]=Kronometer
Name[sk]=Kronometer
Name[sl]=Kronometer
Name[sv]=Kronometer
Name[tr]=Kronometer
Name[uk]=Kronometer
Name[x-test]=xxKronometerxx
Name[zh_CN]=Kronometer
Name[zh_TW]=Kronometer
GenericName=Chronometer
GenericName[bs]=Mjerač vremena
GenericName[ca]=Cronòmetre
GenericName[ca@valencia]=Cronòmetre
GenericName[cs]=Chronometr
GenericName[da]=Kronometer
GenericName[de]=Zeitmesser
GenericName[el]=Χρονόμετρο
GenericName[en_GB]=Chronometer
GenericName[es]=Cronómetro
GenericName[et]=Kronomeeter
GenericName[fi]=Sekuntikello
GenericName[fr]=Chronomètre
GenericName[gl]=Cronómetro
GenericName[hu]=Kronométer
GenericName[it]=Cronometro
GenericName[ko]=크로노미터
GenericName[nds]=Tietmeter
GenericName[nl]=Chronometer
GenericName[nn]=Kronometer
GenericName[pl]=Chronometr
GenericName[pt]=Cronómetro
GenericName[pt_BR]=Cronômetro
GenericName[ru]=Секундомер
GenericName[sk]=Chronometer
GenericName[sl]=Časomer
GenericName[sv]=Kronometer
GenericName[tr]=Kronometre
GenericName[uk]=Хронометр
GenericName[x-test]=xxChronometerxx
GenericName[zh_CN]=计时器
GenericName[zh_TW]=精密計時器
Comment=A simple chronometer application by KDE
Comment[ca]=Una aplicació senzilla de cronòmetre, creada per la comunitat KDE
Comment[ca@valencia]=Una aplicació senzilla de cronòmetre, creada per la comunitat KDE
Comment[cs]=Jednoduchá aplikace chronometru od KDE
Comment[da]=Et simpelt kronometerprogram af KDE
Comment[de]=Eine einfache Anwendung für die Zeitmessung von KDE
Comment[en_GB]=A simple chronometer application by KDE
Comment[es]=Una sencilla aplicación de cronómetro creada por KDE
Comment[fi]=KDE:n yksinkertainen sekuntikellosovellus
Comment[gl]=Un aplicativo sinxelo creado por KDE para cronometrar.
Comment[it]=Un semplice cronometro da KDE
Comment[ko]=KDE의 간단한 크로노미터 프로그램
Comment[nl]=Een eenvoudige chronometer-toepassing door KDE
Comment[pl]=Prosta aplikacja chronometru autorstwa KDE
Comment[pt]=Uma aplicação simples de cronómetro do KDE
Comment[sk]=Jednoduchá aplikácia chronometra pre KDE
Comment[sv]=Ett enkelt kronometerprogram av KDE
Comment[tr]=Kde için basit bir kronometre uygulaması
Comment[uk]=Проста програма-хронометр від KDE
Comment[x-test]=xxA simple chronometer application by KDExx
Categories=Qt;KDE;Utility;Clock;
X-DocPath=kronometer/index.html
