[Desktop Entry]
Type=Application
Exec=kronometer
Icon=kronometer
Terminal=false
Name=Kronometer
Name[ar]=كرونومتر
Name[ast]=Kronometer
Name[bs]=Kronometer
Name[ca]=Kronometer
Name[ca@valencia]=Kronometer
Name[cs]=Kronometer
Name[da]=Kronometer
Name[de]=Kronometer
Name[el]=Kronometer
Name[en_GB]=Kronometer
Name[eo]=Kronometer
Name[es]=Kronometer
Name[et]=Kronometer
Name[eu]=Kronometer
Name[fi]=Kronometer
Name[fr]=Kronometer
Name[gl]=Kronometer
Name[he]=קרונומטר
Name[hu]=Kronometer
Name[ia]=Kronometer
Name[it]=Kronometer
Name[ka]=Kronometer
Name[ko]=Kronometer
Name[nds]=Kronometer
Name[nl]=Kronometer
Name[nn]=Kronometer
Name[pl]=Kronometer
Name[pt]=Kronometer
Name[pt_BR]=Kronometer
Name[ro]=Kronometer
Name[ru]=Kronometer
Name[sk]=Kronometer
Name[sl]=Kronometer
Name[sv]=Kronometer
Name[tr]=Kronometre
Name[uk]=Kronometer
Name[zh_CN]=Kronometer 计时器
Name[zh_TW]=Kronometer
GenericName=Chronometer
GenericName[ar]=مقياس الزمن
GenericName[bs]=Mjerač vremena
GenericName[ca]=Cronòmetre
GenericName[ca@valencia]=Cronòmetre
GenericName[cs]=Chronometr
GenericName[da]=Kronometer
GenericName[de]=Zeitmesser
GenericName[el]=Χρονόμετρο
GenericName[en_GB]=Chronometer
GenericName[eo]=Kronometro
GenericName[es]=Cronómetro
GenericName[et]=Kronomeeter
GenericName[eu]=kronometroa
GenericName[fi]=Sekuntikello
GenericName[fr]=Chronomètre
GenericName[gl]=Cronómetro
GenericName[he]=כרונומטר
GenericName[hu]=Kronométer
GenericName[ia]=Chronometro
GenericName[it]=Cronometro
GenericName[ka]=ქრონომეტრი
GenericName[ko]=크로노미터
GenericName[nds]=Tietmeter
GenericName[nl]=Chronometer
GenericName[nn]=Kronometer
GenericName[pl]=Chronometr
GenericName[pt]=Cronómetro
GenericName[pt_BR]=Cronômetro
GenericName[ro]=Cronometru
GenericName[ru]=Секундомер
GenericName[sk]=Chronometer
GenericName[sl]=Časomer
GenericName[sv]=Kronometer
GenericName[tr]=Kronometre
GenericName[uk]=Хронометр
GenericName[zh_CN]=计时器
GenericName[zh_TW]=精密計時器
Comment=A simple chronometer application by KDE
Comment[ar]=تطبيق مقياس زمن بسيط من كيدي
Comment[ca]=Una aplicació senzilla de cronòmetre, creada per la comunitat KDE
Comment[ca@valencia]=Una aplicació senzilla de cronòmetre, creada per la comunitat KDE
Comment[cs]=Jednoduchá aplikace chronometru od KDE
Comment[da]=Et simpelt kronometerprogram af KDE
Comment[de]=Eine einfache Anwendung für die Zeitmessung von KDE
Comment[el]=Μια απλή εφαρμογή χρονομέτρου από το KDE
Comment[en_GB]=A simple chronometer application by KDE
Comment[eo]=Simpla kronometra aplikaĵo de KDE
Comment[es]=Una sencilla aplicación de cronómetro creada por KDE
Comment[et]=KDE lihtne stopperirakendus
Comment[eu]=KDE-ren kronometro sinple aplikazioa
Comment[fi]=KDE:n yksinkertainen sekuntikellosovellus
Comment[fr]=Une simple application de chronomètre par KDE
Comment[gl]=Unha aplicación sinxela creada por KDE para cronometrar
Comment[he]=יישום כרונומטר פשוט מבית KDE
Comment[ia]=Un simple applicatin de chronometro per KDE
Comment[it]=Un semplice cronometro da KDE
Comment[ka]=ქრონომეტრის მარტივი აპლიკაცია KDE-სგან
Comment[ko]=KDE의 간단한 크로노미터 앱
Comment[nl]=Een eenvoudige chronometer-toepassing door KDE
Comment[nn]=Enkelt kronometerprogram frå KDE
Comment[pl]=Prosta aplikacja chronometru autorstwa KDE
Comment[pt]=Uma aplicação simples de cronómetro do KDE
Comment[pt_BR]=Um cronômetro simples do KDE
Comment[ro]=Aplicație simplă de cronometru de la KDE
Comment[ru]=Простое приложение-секундомер от KDE
Comment[sk]=Jednoduchá aplikácia chronometra pre KDE
Comment[sl]=Preprost časomer s strani KDE
Comment[sv]=Ett enkelt kronometerprogram av KDE
Comment[tr]=KDE tarafından yapılan yalın bir kronometre uygulaması
Comment[uk]=Проста програма-хронометр від KDE
Comment[zh_CN]=由 KDE 打造的简单计时器应用程序
Comment[zh_TW]=來自 KDE 的精密計時應用程式
Categories=Qt;KDE;Utility;Clock;
X-DocPath=kronometer/index.html
